<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{url_for('static', filename = 'home.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&family=Whisper&display=swap" rel="stylesheet">
    <title>Fine Wine </title>
</head>
<body>
        <h1>Fine Wine</h1>
        <div class="grid-container">
            <div class="grid-item"><a href="/wine_info"> Search Wine Information </a></div>
            <div class="grid-item"><a href="/wine_location"> Search Wines by Keyword</a></div>
            <div class="grid-item"><a href="/geo">Winery Location Coordinates</a></div>
            <div class="grid-item"><a href="/about">Wines by Price</a></div>
           </div>
      
</body>
</html>