<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{url_for('static', filename = 'Search.css')}}">
    <title>Search by Keyword</title>
</head>
<body>
    <h1>Search by Keyword</h1>
    <a href="/"> Home</a>
    <form action="{{ url_for("wine_location")}}" method="post">
        <input type="text" id="search" name="review" placeholder="Search for the key words">
        <button type="submit">Search</button>
    </form>
    
</body>
</html>





    